<!-- Header: icon, name, language, help, logout -->
<div class="mt-10 border-bootom-gray height-70">
  <div class="container-fluid header-top">

    <div class="row ">
      <!-- icon -->
      <div class="col-lg-1 col-md-1 col-sm-1">
        <img src="../assets/images/logo_elca.png"/>
      </div>

      <!-- name -->
      <div class="col-lg-7 col-md-7 col-sm-7">
        <h3>Project Information Management</h3>
      </div>

      <!-- language -->
      <div class="col-lg-2 col-md-2 col-sm-2 v-center text-center">
        <a href="#" class="ml-5 mr-5 language">EN</a>| <a href="#" class="ml-5 mr-5 language">FR</a>
      </div>

      <!-- Help -->
      <div class="col-lg-1 col-md-1 col-sm-1 v-center">
        <b class="blue-color">
          Help
        </b>
      </div>

      <!-- Log-out -->
      <div class="col-lg-1 col-md-1 col-sm-1 v-center">
					<span class="gray-color">
							Log out
					</span>
      </div>
    </div>
  </div>
</div>
